
<footer class="footer-distributed">

    <div class="footer-left">

        <div>
            <img src="../../../assets/icons/logo.jpg" id="icon" alt="User Icon" />
        </div>        

        <p class="footer-links">
            <a href="#" class="link-1">Home</a>

            <a href="#">Blog</a>

            <a href="#">Pricing</a>

            <a href="#">About</a>

            <a href="#">Faq</a>

            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">POPA © 2020</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Silistra</span> bul. Dobrudja, 16</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+359 878 823 037</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:ivailoinfo@gmail.com">ivailoinfo@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">
         
        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

        <div class="footer-icons">

           <!-- <a href="https://www.facebook.com/%D0%A0%D0%9E%D0%A0%D0%90-103282987898910"><img src="../../../assets/icons/facebook.png"/></a>       -->

        </div>

    </div>

</footer>